In [1]:
# Importando librerias
import numpy as np
import pandas as pd

datadf = pd.read_csv("data.csv",sep = ";")
datadf.head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
0,1,female,yes,yes,38.0,33,Postdoctoral_research,5,5,5,3,3,2,5,4,5,4,2004
1,2,male,no,yes,36.0,31,Postdoctoral_research,3,4,4,4,4,3,5,4,4,2,2002
2,3,male,yes,no,30.0,19,PhD_Student,5,5,5,4,5,4,5,4,5,5,2016
3,4,female,yes,no,42.0,29,Phd_Supervisor,4,4,4,3,3,4,4,2,3,4,2007
4,5,female,yes,no,37.0,31,PhD_Student,4,3,5,2,4,4,5,3,5,4,2001

In [2]:
### Tukey test
# Import packages
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# The clean data was execute before , this code isn't necessary
mean_age = datadf['Age'].mean()
datadf['Age'] = datadf['Age'].fillna(mean_age)

# Tukey test
tukey = pairwise_tukeyhsd(endog=datadf['Age'], groups=datadf['Tasks'], alpha=0.05)

print(tukey.summary ())

           Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================================
    group1             group2        meandiff p-adj  lower   upper  reject
--------------------------------------------------------------------------
   PhD_Student        Phd_Supervisor  11.4309 0.001 10.1194 12.7423   True
   PhD_Student Postdoctoral_research   5.4656 0.001  4.2133  6.7179   True
Phd_Supervisor Postdoctoral_research  -5.9653 0.001 -7.3257 -4.6049   True
--------------------------------------------------------------------------

In [3]:
### Spearman’s Correlations
print(stats.spearmanr(datadf['Publications'],datadf['Age']))

NameError: name 'stats' is not defined